<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <style>
        ul {
            list-style: none;
        }
        li {
            padding: 5px;
        }
        .date {
            float: left;
        }
        .details {
            float: right;
        }
    </style>
</head>


<body>
    <div class='container'>
        <ul>
        <% for (var i = 0; i < stats['tasks'].length; i++) { %>
            <li>
            <div class='date'>
                <%= stats['tasks'][i].started.toDateString() %>
            </div>
            <div class='details'>
                <%= stats['tasks'][i].taskName %>
            </div>
            </li>
        <% } %>
        </ul>
    </div>
</body>

</html>